@mixin btn($color:white,$padding:20px 40px,$bgcolor:red,$bradius:4px,$border:none){
    padding:$padding;
    color:$color;
    background:$bgcolor;
    border-radius: $bradius;
    border:$border;

    background:red;
    border: none;
    padding:0 10px;
    color: white;
    border-radius: 4px;
}


@mixin middle(){
  position: absolute;
  top:50%;
  transform:translateY(-50%);
}

@mixin center{
  position: absolute;
  left:0;
  right: 0;
  margin: auto;
}

@mixin text-overflow-dot(){
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
